@if (autenticado()) {
<header class="topbar">
<div class="topbar__inner">

<div class="marca">
<span class="icono">🐾</span>
VetConecta San Isidro
</div>

<nav class="topbar__nav" aria-label="Navegación principal">

@if (esPersonal()) {
<a routerLink="/gestion-citas" routerLinkActive="activo">Gestión de citas</a>
} @else {
<a routerLink="/dashboard" routerLinkActive="activo">
<span class="icono">🏠</span>
Dashboard
</a>

<a routerLink="/agendar" routerLinkActive="activo">
<span class="icono">📅</span>
Agenda
</a>
}

<a routerLink="/internamiento" routerLinkActive="activo">
<span class="icono">🏥</span>
Clinic
</a>

<a routerLink="/recetas" routerLinkActive="activo">
<span class="icono">💊</span>
Pharmacy
</a>

<a routerLink="/historial" routerLinkActive="activo">
<span class="icono">🕓</span>
History
</a>

</nav>

<div style="display:flex; align-items:center; gap:10px;">

@if (!esPersonal()) {
<a
routerLink="/recordatorios"
routerLinkActive="activo"
class="icono-notif"
title="Recordatorios"
>
<span class="icono">🔔</span>
</a>
}

<a routerLink="/perfil" class="enlace-perfil" [attr.aria-label]="'Mi perfil: ' + nombreRol()">

<span
class="avatar"
style="width:32px; height:32px; border:2px solid var(--color-primary-light);"
>
<img src="fotos/julian.svg" alt="">
</span>

<span class="nombre-usuario">
{{ usuario()?.nombre }}
<small>{{ nombreRol() }}</small>
</span>

</a>

</div>

</div>
</header>
}

<router-outlet></router-outlet>

@if (autenticado()) {

<nav class="bottomnav" aria-label="Navegación móvil">

@if (esPersonal()) {
<a routerLink="/gestion-citas" routerLinkActive="activo">Gestión de citas</a>
} @else {
<a routerLink="/dashboard" routerLinkActive="activo">
<span class="icono">🏠</span>
Dashboard
</a>

<a routerLink="/agendar" routerLinkActive="activo">
<span class="icono">📅</span>
Agenda
</a>
}

<a routerLink="/internamiento" routerLinkActive="activo">
<span class="icono">🏥</span>
Clinic
</a>

<a routerLink="/recetas" routerLinkActive="activo">
<span class="icono">💊</span>
Pharmacy
</a>

<a routerLink="/historial" routerLinkActive="activo">
<span class="icono">🕓</span>
History
</a>

@if (esPersonal()) {
<a routerLink="/perfil" routerLinkActive="activo">Mi perfil</a>
}

</nav>

<button class="btn-flotante" title="Ayuda">
<span class="icono">❓</span>
</button>

}
